<%
function cap(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}
%>
<%= include part_head %>

<style type="text/css">
	
</style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    function cap(string)
    {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    google.load("visualization", "1", {packages:["corechart"]});
	var data = <%- JSON.stringify(data) %>;
    var bargraph = function(key) {
     	var rows = [];
     	$.each(data,function(i,e){
     		var f = JSON.parse(e.data);
     		var k = f[key].toString();
     		var found = false;
     		for (var i = 0; i < rows.length; i++) {
     			if (rows[i][0] == k){
     				rows[i][1]++;
     				found = true;
     			}
     		};
     		if (!found){
     			rows.push([k,1]);         			
     		}
     	});

       var options = {
         title: cap(key),
         legend: { position: 'none' }
       };
       var stuff = [[cap(key), "Count"]];
       stuff = stuff.concat(rows);
       console.log(stuff);
       stuff = google.visualization.arrayToDataTable(stuff);
       var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
       chart.draw(stuff, options);
     }

    var statistics = function(key) {
    	var stuff = [];
    	$.each(data,function(i,e){
    		var f = JSON.parse(e.data);
    		var k = f[key].toString();
    		stuff.push(k);
    	});
    	var sum = 0;
    	for(var i = 0; i < stuff.length; i++){
    	    sum += parseFloat(stuff[i], 10); //don't forget to add the base
    	}

    	var avg = sum/stuff.length;
    	var html = "Average: "+avg+"<BR>";
    	html += "Sum: "+sum;
		$("#chart_div").html(html);
    }


     var histogram = function(key) {
     	var array = new Array();
     	array.push([cap(key)]);
     	$.each(data,function(i,e){
     		var f = JSON.parse(e.data);
     		array.push([f[key]]);
     	});
       var stuff = google.visualization.arrayToDataTable(array);

       var options = {
         title: cap(key),
         legend: { position: 'none' },
       };

       var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
       chart.draw(stuff, options);
     }
     var scatterplot = function(x,y) {
     	var array = new Array();
     	array.push([cap(x),cap(y)]);
     	$.each(data,function(i,e){
     		var f = JSON.parse(e.data);
     		array.push([f[x],f[y]]);
     	});
       var stuff = google.visualization.arrayToDataTable(array);

       var options = {
         title: cap(y) + " vs " + cap(x),
         legend: { position: 'none' },
       };

       var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
       chart.draw(stuff, options);
     }


     var piechart = function(key) {
    	var stuff = new google.visualization.DataTable();
 		stuff.addColumn("string", key.toString());
 		stuff.addColumn("number", "Count");
 		var rows = [];
     	$.each(data,function(i,e){
     		var f = JSON.parse(e.data);
     		var k = f[key].toString();
     		var found = false;
     		for (var i = 0; i < rows.length; i++) {
     			if (rows[i][0] == k){
     				rows[i][1]++;
     				found = true;
     			}
     		};
     		if (!found){
     			rows.push([k,1]);         			
     		}
     	});
 		console.log(rows);
 		stuff.addRows(rows);

       var options = {
         title: cap(key)
       };

       var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
       chart.draw(stuff, options);
     }
    </script>
    <div id="chart-wrap">
	    <div id="chart-y"></div>
	    <div id="chart_div">Select a chart type on the left, then fill in the X and Y axes.</div>
	    <div id="chart-x"></div>
    </div>
    <h3>Chart Type</h1>
	<div class="chart-types btn-group btn-group-vertical">
	  <div class="btn-group">
	    <button type="button" class="chart-type btn btn-default" data-x="1" data-func="statistics">Statistics</button>
	  </div>
	  <div class="btn-group">
	    <button type="button" class="chart-type btn btn-default" data-x="1" data-func="histogram">Histogram</button>
	  </div>
	  <div class="btn-group">
	    <button type="button" class="chart-type btn btn-default" data-x="1" data-func="piechart">Pie Chart</button>
	  </div>
	  <div class="btn-group">
	    <button type="button" class="chart-type btn btn-default" data-y="1" data-func="bargraph">Bar Graph</button>
	  </div>
	  <div class="btn-group">
	    <button type="button" class="chart-type btn btn-default" data-x="1" data-y="1" data-func="scatterplot">Scatter Plot</button>
	  </div>
	</div>
    <h3><%= cap(tag) %> Data</h1>
    <p>
    <% 
    var i = 0;
    keys.forEach(function(key){ 
    i++;
    %>
    <div class="key" data-key="<%= escape(key) %>">
    <div class="draggable draggy"  draggable="true" id="key<%= i %>"  data-key="<%= escape(key) %>"><%= cap(key) %></div>
    </div>
    <%	}); %>
    </p>
    <script type="text/javascript">
    $(function(){
    	$(".key").click(function(){
    		chosen = $(this);
    		$(this).find('.draggable').addClass("selected");
    	});
    	$(".chart-type").click(function(){
    		charttype = $(this).data('func');
    		$(".chart-type").removeClass("active");
    		$(this).addClass("active");
    		var dropzone = "<div class='dropzone draggy'>Drag Stat Here</div>";
    		var x = $(this).data('x');
    		var y = $(this).data('y');
    		$("#chart-x").html("");
    		$("#chart-y").html("");
    		if (x){
    			$("#chart-x").append(dropzone);
    		}
    		if (y){
    			$("#chart-y").append(dropzone);
    		}
	    	$(".dropzone").click(function(){
	    		if (chosen){
	    			$(this).html(cap(chosen.data("key")));
	    			$(this).data("key",chosen.data("key"));
	    			$(this).addClass("filled");
	    			chosen = null;
	    			$('.draggable').removeClass("selected");
	    			if ($(".filled").size() == $(".dropzone").size()){
	    				chartify();
	    			}
	    		}
	    	});
    	});
    });
    var chartify = function(){
    	if (charttype=="histogram"){
    		histogram($("#chart-x .dropzone").data("key"));
    	} else if (charttype=="piechart"){
    		piechart($("#chart-x .dropzone").data("key"));
    	} else if (charttype=="statistics"){
    		statistics($("#chart-x .dropzone").data("key"));
    	} else if (charttype=="bargraph"){
    		bargraph($("#chart-y .dropzone").data("key"));
    	} else if (charttype=="scatterplot"){
    		scatterplot($("#chart-x .dropzone").data("key"),$("#chart-y .dropzone").data("key"));
    	} 
    }
    </script>
<%= include part_foot %>