<div class="base">
	<a href="/tags/<%= tags[prop].tag %>" class="tag">
		<div>
			<h1 style="float:left;"><%= tags[prop].tag %></h1>
			<h3 style="float:right;"><%= tags[prop].points %></h3>
			<div class="clearfix"></div>
		</div>
		<h3>From <%= tags[prop].oldest %> to <%= tags[prop].newest %></h3>
	</a>
</div>